<footer class="text-white pt-3 pb-3 bg-gradient-overlay gradient-background bg-img" style="background-image: url('/images/main/footer.jpg'); background-position: center; background-size: cover;">
    <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
            <div class="col-md-7 col-lg-8 text-center text-md-start">
                <div class="p-3">
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> EverGreen. All rights reserved.
                </div>
            </div>
            <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                <a href="https://www.facebook.com/" class="btn-floating btn-sm text-white" style="font-size:25px;">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://twitter.com" class="btn-floating btn-sm text-white" style="font-size:25px;">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="https://www.instagram.com/" class="btn-floating btn-sm text-white" style="font-size:25px;">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://telegram.org/" class="btn-floating btn-sm text-white" style="font-size:25px;">
                    <i class="bi bi-telegram"></i>
                </a>
                <a href="https://www.youtube.com/" class="btn-floating btn-sm text-white" style="font-size:25px;">
                    <i class="bi bi-youtube"></i>
                </a>
            </div>
        </div>
    </section>
</footer>  