<footer class="text-white pt-3 pb-3 bg-gradient-overlay gradient-background bg-img" style="background-image: url('/images/main/footer.jpg'); background-position: center; background-size: cover;">
  <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <h5 class="text-warning fw-bold">EverGreen</h5>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px">
              <p>Accepting your own mortality is like eating your vegetables. You may not want to do it, but it’s good for you.</p>
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <h5 class="text-uppercase fw-bold text-warning">Have Questions?</h5>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px">
              <p><i class="bi bi-geo-alt-fill mr-3"></i> Kakkanad, Ernakulam</p>
              <p><i class="bi bi-telephone-fill mr-3"></i> + 91987654321</p>
              <p><i class="bi bi-envelope-fill"></i> evergreen@gmail.com</p>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
              <h5 class="text-uppercase fw-bold text-warning">Opening hours</h5>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px">
              <table class="table text-white">
                  <tbody>
                      <tr>
                          <td>Mon - Thu:</td>
                          <td>8am - 9pm</td>
                      </tr>
                      <tr>
                          <td>Fri - Sat:</td>
                          <td>8am - 8pm</td>
                      </tr>
                      <tr>
                          <td>Sunday:</td>
                          <td>9am - 6pm</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>

      <hr class="mb-4">

      <section class="p-3 pt-0">
          <div class="row d-flex align-items-center">
              <div class="col-md-7 col-lg-8 text-center text-md-start">
                  <div class="p-3">
                      Copyright &copy;<script>document.write(new Date().getFullYear());</script> EverGreen. All rights reserved.
                  </div>
              </div>
              <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                  <a href="https://www.facebook.com/" class="btn-floating btn-sm text-white" style="font-size:25px;">
                      <i class="bi bi-facebook"></i>
                  </a>
                  <a href="https://twitter.com" class="btn-floating btn-sm text-white" style="font-size:25px;">
                      <i class="bi bi-twitter"></i>
                  </a>
                  <a href="https://www.instagram.com/" class="btn-floating btn-sm text-white" style="font-size:25px;">
                      <i class="bi bi-instagram"></i>
                  </a>
                  <a href="https://telegram.org/" class="btn-floating btn-sm text-white" style="font-size:25px;">
                      <i class="bi bi-telegram"></i>
                  </a>
                  <a href="https://www.youtube.com/" class="btn-floating btn-sm text-white" style="font-size:25px;">
                      <i class="bi bi-youtube"></i>
                  </a>
              </div>
          </div>
      </section>
  </div>
</footer>
