<% if (success_msg.length > 0) { %>
    <div class="alert alert-success alert-dismissible fade show my-5" role="alert">
        <%= success_msg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>
<% if (error_msg.length > 0) { %>
    <div class="alert alert-danger alert-dismissible fade show my-5" role="alert">
        <%= error_msg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>
<% if (error.length > 0) { %>
    <div class="alert alert-danger alert-dismissible fade show my-5" role="alert">
        <%= error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>
<div class="centered-container">
    <div class="forgot-password-container">
        <h2 class="text-center mb-4">Change Password</h2>
        <form action="/otp/send-otp" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="redirectUrl" value="/otp/verify-otp">
            <div class="form-group" style="margin-bottom: 20px;">
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
            </div>
            <span id="emailError" class="error-message"></span>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn contact-btn" id="sendOtpBtn">Request OTP</button>
            </div>
        </form>
    </div>
</div>

<% script = `
    <script src="/js/otpValidation.js"></script>
` %>